/* Stiluri generale */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #A4B5C4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container {
    width:50%;
    margin: 0 auto;
    background: #CDD5DB;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Stiluri pentru butoane */
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #555;
    color: #fff;
}

#mirror-button {
    background-color: #071739;
    color: #fff;
}

#smooth-button {
    background-color: #071739;
    color: #fff;
}

/* Container pentru butoane */
.button-container {
    margin-top: 20px;
}

/* Stiluri pentru canvas */
canvas {
    border: 1px solid #000;
    margin: 20px auto;
    display: block;
    max-width: 100%;
    background-color: #fff;
}

/* Stiluri pentru log-ul procesării */
#processing-log {
    margin-top: 20px;
    font-size: 20px;
    color: #071739;
    text-align: left;
}
